header{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 27.5%;
    a{
        cursor: pointer;
        margin-right: auto;
    }
    #right{
        width: 50%;
        text-align: center;
        ul{
            list-style: none;
            li{
                padding: 5.22% 3%;
                display: inline-block;
                font-family: Helvetica,Arial,sans-serif;
                font-size: 93%;
                font-weight: 700;
                color: white;
                a:link{
                    text-decoration: none;
                    color: white;
                }
                a:hover{
                    color: #1ed760;
                }
            }
            li:hover a{
                color: #1ed760;
            }
        }
    }
}
*{
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    #block-left{
        
    }
    #block-right{
        width: 20%;
        #content{
        
            background-image: url("https://i.scdn.co/image/ab678e040000ed3a01867bcd60d82286e34b9746");
        }
    }
}